.purple{
color: purple;
}
 body{
 background-color: black;
 font-family:sans-serif;
 color:#777777 ;
 line-height:30px ;
9}
.width{
width:50%;
float:left;
}
.width-image{
width:25%;
float:right;
}
.container
{
padding-left:5px;
display:inline-block;
}
a {
color:white;
background-color:#8845f4;
border-radius: 12px;
padding:15px 20px 15px;
text-decoration:none;
}
.experiences{
padding:30px;
margin:30px;
background-color:rgb(238,251,255);
border-radius=20px;
}
.experiences-item{
padding:10px ;
border-left:1px solid rgba(137,130,247, .2) ;
}